@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");


body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color: #2233ff;
  --secondary-color: #070707;
  --border-color: #222222;
  --background-color: #ffffff;
  --danger-color: #ff2e43;
  --fade-text-color: #8f8f8f;
  --hover-background-color: #dedede;

  --max-width: 1920px;
}

a {
  text-decoration: none;
}

p {
  margin: 5px 0px;
}